#cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;border-radius: 4px;}
#cboxOverlay{position:fixed; width:100%; height:100%;background:#000;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent h1:first-of-type{margin-top: 0px;}
#cboxLoadedContent h4{padding-bottom: 12px;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;background:#fff;}
#colorbox, #cboxContent, #cboxLoadedContent{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}

#cboxTopLeft, #cboxTopRight {width:28px; height:55px;}
#cboxTopRight {width:28px;}
#cboxTopCenter{height:55px;}
#cboxBottomLeft, #cboxBottomRight {width:28px; height:40px;}
#cboxBottomRight {width:28px;}
#cboxBottomCenter{height:40px;}
#cboxMiddleLeft, #cboxMiddleRight {width:28px;}
#cboxMiddleRight {width:28px;}
#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight {background-color: #fff;}

#cboxContent{background:#fff; overflow:visible;position:relative;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxTitle{display: none !important;margin:0;}
#cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;text-indent: -999px;}
#cboxPrevious{position:absolute; left: -13px;top: 0;padding-top: 48%;padding-right: 10%;height: 99%;}
#cboxNext{position:absolute;left: inherit;right: -13px;top: 0;padding-top: 48%;padding-left: 10%;height: 99%;}
#cboxLoadingOverlay{background:#fff url(images/loading.gif) no-repeat 50% 50%;filter: Alpha(Opacity=20);opacity: 0.2;}
#cboxClose{position:absolute; display:block; top: -40px;right: -13px;}
#cboxPrevious,#cboxNext,#cboxCurrent,#cboxClose {color: #eee;}
#cboxPrevious:hover,#cboxNext:hover,#cboxCurrent:hover,#cboxClose:hover {color: #aaa;}

#colorbox .btn-primary, #colorbox .btn-default {outline: 0;noFocusLine: expression(this.onFocus=this.blur());}
#cboxPrevious:hover .btn-default, #cboxNext:hover .btn-default {background-color: #ebebeb;border-color: #adadad;color: #333;}

@media (max-width: 768px) {
    #cboxTopLeft, #cboxTopRight {width:18px; height:45px;}
    #cboxTopRight {width:18px;}
    #cboxTopCenter{height:45px;}
    #cboxBottomLeft, #cboxBottomRight {width:18px; height:5px;}
    #cboxBottomRight {width:18px;}
    #cboxBottomCenter{height:5px;}
    #cboxMiddleLeft, #cboxMiddleRight {width:18px;}
    #cboxMiddleRight {width:18px;}
    #cboxPrevious{left: -3px;padding-top: 40%;}
    #cboxNext{right: -3px;padding-top: 40%;}
    #cboxClose{top: -30px;right: -3px;}
}