<?php echo $header; ?>
<div id="content">
<div class="breadcrumb">
  <?php foreach ($breadcrumbs as $breadcrumb) { ?>
  <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
  <?php } ?>
</div>
<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<div class="box">
  <div class="heading">
    <h1><img src="view/image/module.png" alt="" /> <?php echo $heading_title; ?></h1>
    <div class="buttons"><a onclick="$('#form').submit();" class="button"><span><?php echo $button_save; ?></span></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><span><?php echo $button_cancel; ?></span></a></div>
  </div>
  <div class="content">
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
    <table id="module" class="list">
        <thead>
          <tr>
	        <td class="left"><?php echo $entry_title; ?></td>
			<td class="left"><?php echo $entry_limit; ?></td>
	        <td class="left"><?php echo $entry_image; ?></td>
			<td class="left"><?php echo $entry_type; ?></td>
            <td class="left"><?php echo $entry_layout; ?></td>
            <td class="left"><?php echo $entry_position; ?></td>
            <td class="left"><?php echo $entry_status; ?></td>
            <td class="right"><?php echo $entry_sort_order; ?></td>
            <td></td>
          </tr>
        </thead>
		<?php $module_row = 0; ?>
        <?php foreach ($modules as $module) { ?>
        <tbody id="module-row<?php echo $module_row; ?>">
			<tr>
				<td class="left"><input type="text" name="alternative_module[<?php echo $module_row; ?>][title]" value="<?php echo $module['title']; ?>" size="10" /></td>
				
				<td class="left"><input type="text" name="alternative_module[<?php echo $module_row; ?>][limit]" value="<?php echo $module['limit']; ?>" size="1" /></td>
								  
				<td class="left"><input type="text" name="alternative_module[<?php echo $module_row; ?>][image_width]" value="<?php echo $module['image_width']; ?>" size="3" /><input type="text" name="alternative_module[<?php echo $module_row; ?>][image_height]" value="<?php echo $module['image_height']; ?>" size="3" /></td>
				
				<td class="left"><select name="alternative_module[<?php echo $module_row; ?>][type_id]" class="alternative_type" style="width:120px;">
					<?php foreach ($types as $type) { ?>
					<?php if ($type['type_id'] == $module['type_id']) { ?>
					<option value="<?php echo $type['type_id']; ?>" selected="selected"><?php echo $type['name']; ?></option>
					<?php } else { ?>
					<option value="<?php echo $type['type_id']; ?>"><?php echo $type['name']; ?></option>
					<?php } ?>
					<?php } ?>
				  </select>
				  <select name="alternative_module[<?php echo $module_row; ?>][attribute_id]" class="alternative_attributes" style="width:120px;">
					<?php foreach ($attributes as $attribute) { ?>
					<?php if ($attribute['attribute_id'] == $module['attribute_id']) { ?>
					<option value="<?php echo $attribute['attribute_id']; ?>" selected="selected"><?php echo $attribute['name']; ?></option>
					<?php } else { ?>
					<option value="<?php echo $attribute['attribute_id']; ?>"><?php echo $attribute['name']; ?></option>
					<?php } ?>
					<?php } ?>
				  </select></td>
				
				<td class="left"><select name="alternative_module[<?php echo $module_row; ?>][layout_id]" style="width:100px;">
					<?php foreach ($layouts as $layout) { ?>
					<?php if ($layout['layout_id'] == $module['layout_id']) { ?>
					<option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>
					<?php } else { ?>
					<option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>
					<?php } ?>
					<?php } ?>
				  </select></td>
				<td class="left"><select name="alternative_module[<?php echo $module_row; ?>][position]" style="width:100px;">
					<?php if ($module['position'] == 'content_top') { ?>
					<option value="content_top" selected="selected"><?php echo $text_content_top; ?></option>
					<?php } else { ?>
					<option value="content_top"><?php echo $text_content_top; ?></option>
					<?php } ?>
					<?php if ($module['position'] == 'content_bottom') { ?>
					<option value="content_bottom" selected="selected"><?php echo $text_content_bottom; ?></option>
					<?php } else { ?>
					<option value="content_bottom"><?php echo $text_content_bottom; ?></option>
					<?php } ?>
					<?php if ($module['position'] == 'column_left') { ?>
					<option value="column_left" selected="selected"><?php echo $text_column_left; ?></option>
					<?php } else { ?>
					<option value="column_left"><?php echo $text_column_left; ?></option>
					<?php } ?>
					<?php if ($module['position'] == 'column_right') { ?>
					<option value="column_right" selected="selected"><?php echo $text_column_right; ?></option>
					<?php } else { ?>
					<option value="column_right"><?php echo $text_column_right; ?></option>
					<?php } ?>
				  </select>
				</td>
					
				<td class="left"><select name="alternative_module[<?php echo $module_row; ?>][status]" style="width:100px;">
					<?php if ($module['status']) { ?>
					<option value="1" selected="selected"><?php echo $text_enabled; ?></option>
					<option value="0"><?php echo $text_disabled; ?></option>
					<?php } else { ?>
					<option value="1"><?php echo $text_enabled; ?></option>
					<option value="0" selected="selected"><?php echo $text_disabled; ?></option>
					<?php } ?>
				  </select>
				</td>
				
				<td class="right"><input type="text" name="alternative_module[<?php echo $module_row; ?>][sort_order]" value="<?php echo $module['sort_order']; ?>" size="3" /></td>
				
				<td class="left"><a onclick="$('#module-row<?php echo $module_row; ?>').remove();" class="button"><span><?php echo $button_remove; ?></span></a></td>
			</tr>
        </tbody>
        <?php $module_row++; ?>
        <?php } ?>
        <tfoot>
			<tr>
				<td colspan="8"></td>
				<td class="left"><a onclick="addModule();" class="button"><span><?php echo $button_add_module; ?></span></a></td>
			</tr>
        </tfoot>
      </table>
	   
	</form>
  </div>
</div>
<script type="text/javascript"><!--
var module_row = <?php echo $module_row; ?>;

function addModule() {	
	html  = '<tbody id="module-row' + module_row + '">';
	html += '  <tr>';
	html += '    <td class="left"><input type="text" name="alternative_module[' + module_row + '][title]" value="<?php echo $heading_title; ?>" size="10" /></td>';
	html += '    <td class="left"><input type="text" name="alternative_module[' + module_row + '][limit]" value="5" size="1" /></td>';
	html += '    <td class="left"><input type="text" name="alternative_module[' + module_row + '][image_width]" value="80" size="3" /> <input type="text" name="alternative_module[' + module_row + '][image_height]" value="80" size="3" /></td>';
	html += '    <td class="left"><select name="alternative_module[' + module_row + '][type_id]" class="alternative_type" style="width:120px;">';
	<?php foreach ($types as $type) { ?>
	html += '      <option value="<?php echo $type['type_id']; ?>"><?php echo $type['name']; ?></option>';
	<?php } ?>
	html += '    </select><select name="alternative_module[' + module_row + '][attribute_id]" class="alternative_attributes" style="width:120px;">';
	<?php foreach ($attributes as $attribute) { ?>
	html += '      <option value="<?php echo $attribute['attribute_id']; ?>"><?php echo $attribute['name']; ?></option>';
	<?php } ?>
	html += '    </select></td>';	
	html += '    <td class="left"><select name="alternative_module[' + module_row + '][layout_id]" style="width:100px;">';
	<?php foreach ($layouts as $layout) { ?>
	html += '      <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>';
	<?php } ?>
	html += '    </select></td>';
	html += '    <td class="left"><select name="alternative_module[' + module_row + '][position]" style="width:100px;">';
	html += '      <option value="content_top"><?php echo $text_content_top; ?></option>';
	html += '      <option value="content_bottom"><?php echo $text_content_bottom; ?></option>';
	html += '      <option value="column_left"><?php echo $text_column_left; ?></option>';
	html += '      <option value="column_right"><?php echo $text_column_right; ?></option>';
	html += '    </select></td>';
	html += '    <td class="left"><select name="alternative_module[' + module_row + '][status]" style="width:100px;">';
    html += '      <option value="1" selected="selected"><?php echo $text_enabled; ?></option>';
    html += '      <option value="0"><?php echo $text_disabled; ?></option>';
    html += '    </select></td>';
	html += '    <td class="right"><input type="text" name="alternative_module[' + module_row + '][sort_order]" value="" size="3" /></td>';
	html += '    <td class="left"><a onclick="$(\'#module-row' + module_row + '\').remove();" class="button"><span><?php echo $button_remove; ?></span></a></td>';
	html += '  </tr>';
	html += '</tbody>';
	
	$('#module tfoot').before(html);
	
	$(".alternative_type").each(function(){
		changeType(this);
	});
	
	$(".alternative_type").change(function(){
		changeType(this);
	});
	
	module_row++;
}

function changeType(t) {
	if (t.value == "1") {
		$(t).parent().children(".alternative_attributes").css("display", "block");
	} else {
		$(t).parent().children(".alternative_attributes").css("display", "none");
	}
}

$(document).ready(function(){
	
	$(".alternative_type").each(function(){
		changeType(this);
	});

	$(".alternative_type").change(function(){
		changeType(this);
	});
});
//--></script>
<?php echo $footer; ?>