<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><h1 style="display: none;"><?php echo $heading_title; ?></h1><?php echo $content_top; ?>
    <?php echo $content_bottom; ?></div>

			<?php if ($hb_snippets_kg_enable == '1'){echo html_entity_decode($hb_snippets_kg_data);} ?>
			<?php if ($hb_snippets_local_enable == 'y'){echo html_entity_decode($hb_snippets_local_snippet);} ?>
			
<?php echo $footer; ?>