
			.mfilter-counter {
				background: #2b2b6a;
				color: #ffffff;
			}
			.mfilter-counter:after {
				border-right-color: #2b2b6a;
			}
		
				.mfilter-search #mfilter-opts-search_button {
					background-color: #2b2b6a;
				}
			
				.mfilter-slider-slider .ui-slider-range,
				#mfilter-price-slider .ui-slider-range {
					background: #009249 !important;
				}
			