#notify h4 {
	text-align:center;
}
.hidden {
	display:none !important;
}
.center { 
	text-align:center;
	margin:10px 0 10px 0;
}
.center > input[type="text"] {
	width: 250px;
	height:22px;
	display: inline-block;
	text-align:center;
}
input[name="captcha"] {
	width:150px !important;
	margin-bottom:5px;
}
.center > textarea {
	width: 250px;
	display: inline-block;
	text-align:left;
}
input[type=submit] {
	cursor: pointer;
    color: #FFFFFF;
    line-height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background: url('../../theme/default/image/button.png') repeat-x;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -khtml-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
	margin: 0;
    border: 0;
    height: 24px;
    padding: 0px 12px 0px 12px;
}
.error {
	margin-top: 5px;
    color: #FF0000;
    display: block;
	font-size:14px;
    
}
.success-block{
	margin-top: 45px;
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: green;
}