
#emailtemplate #form {
	clear: both;
}

#emailtemplate > .heading:first-child h1 {
	padding-left: 5px
}

#emailtemplate .support li {
	margin-bottom: 10px
}

#emailtemplate .support ol {
	margin-bottom: 15px
}

#emailtemplate .hide {
	display: none !important
}

#emailtemplate .htabs a {
	display: block
}

#emailtemplate .vtabs a:hover {
	color: #177FBC
}

#emailtemplate .vtabs a.selected {
	color: #003A88
}

#emailtemplate .action-icons {
	background: url(../../image/action-icon-sprite.png) no-repeat;
	width: 16px;
	height: 16px;
	line-height: 300px;
	text-indent: -3000px;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 3px;
	display: inline-block; *display:inline; zoom:1;
}

#emailtemplate .action-icon-delete { background-position: -24px 0 }

#emailtemplate table.form>tbody>tr:last-child>td {
	border-bottom: none
}

#emailtemplate hr {
	box-shadow: 0 3px 5px 2px #F2F4F5;
	display: block; 
	height: 1px;
    border: 0;
	border-bottom: 1px solid #ccc;
    margin: 1em 0; 
    padding: 0;
}
#emailtemplate .pagination {
	box-shadow: 0 5px 10px -10px #b7d2df inset;
}

#emailtemplate .form .full {
	width: 90% !important
}

#emailtemplate .form .large {
	width: 300px !important
}

#emailtemplate .form .small {
	width: 60px !important
}

#emailtemplate .form input[type=text],#emailtemplate .form textarea {
	width: 120px
}

#emailtemplate .form select {
	width: 126px
}

#emailtemplate .tabsHolder {
	clear: both;
	overflow: hidden;
	margin: 0 10px 20px;
}

#emailtemplate .tab-nav-language {
	clear: both;
}

#emailtemplate tr.noBorder>td {
	border-bottom: none
}

#emailtemplate .preview, #emailtemplate .editor, #emailtemplate .mail {
	background: #EEE no-repeat 10px center;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	border: solid 1px #DDDDDD;
	border-bottom: none;
	letter-spacing: 1px;
    margin: 0;
    padding: 14px 0 14px 40px;
	color: #000
}
#emailtemplate .content-heading {
	background: #EEE no-repeat 10px center;
	border: solid 1px #DDDDDD;
    margin: 0;
    padding: 9px 0px 7px 40px;
	color: #000
}
	#emailtemplate .content-heading > * {
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0;
	    text-transform: none;
		line-height: 2;
	}
	#emailtemplate .content-heading-a {
		padding: 0;
	}
	#emailtemplate .content-heading > a {
		padding: 9px 0px 7px 40px;
		display: block;
		text-decoration: none;
	}
		#emailtemplate .content-heading > a:hover {
			background: rgba(125,203,255,0.2)
		}
	#emailtemplate .content-heading + table.list {
		border-top: none;
	}
	#emailtemplate .content-heading .heading {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		color: #000
	}



.image {
	zoom: 1;
	*display: inline;
}

#emailtemplate .mail {
	background-image: url(../../image/mail.png)
}

#emailtemplate .editor {
	background-image: url(../../image/length.png)
}

#emailtemplate .preview {
	background-image: url(../../image/layout.png)
}

#emailtemplate .language {
	background-image: url(../../image/language.png)
}

#emailtemplate .vqmod {
	background-image: url(../../image/vQmod_Icon.png)
}

#emailtemplate .showEditor {
	background: url(../../image/add.png);
	display: none;
    height: 16px;
    margin: 2px 0 0;
    vertical-align: top;
    width: 16px;
}

#emailtemplate .vtabs-content,#emailtemplate .htabs-content {
	padding-top: 10px
}

#emailtemplate .tabsHolder-preview .vtabs-content {
	padding-top: 0
}

#emailtemplate .tabsHolder table.form>tbody>tr>td:first-child {
	text-align: right
}

#emailtemplate #form>.htabs-content {
	border: 1px solid #DDD;
	border-top: none;
}

#emailtemplate .htabs,#emailtemplate .tabsHolder-preview {
	margin-bottom: 0
}

#emailtemplate .support {
	margin-top: 15px
}

/* Allow buttons on anything not just anchor tags */
#emailtemplate .buttons .button {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	*dispaly: inline;
	*zoom: 1;
	border: none;
	line-height: 1.1;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	padding: 5px 15px 5px 15px;
	background: #003A88;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

#emailtemplate .buttons .button:hover, #emailtemplate .buttons .button-secondary {
	background-color: #177FBC
}
#emailtemplate .buttons .button-secondary:hover {
	background-color: #003A88
}

#emailtemplate .buttons input.button,#emailtemplate .buttons button.button{
	padding-bottom: 4px;
	padding-top: 4px;
}

#emailtemplate .buttons .button span {
	padding: 0;
	background: none;
}

#emailtemplate .remove {
	background: url(../../image/delete.png) no-repeat;
	cursor: pointer;
	display: inline-block; *display:inline; *zoom:1;
    height: 16px;
    margin-left: 5px;
    margin-top: -2px;
    opacity: 0.8;
    vertical-align: top;
    width: 16px;
}
	#emailtemplate .remove:hover { opacity: 1 }

/* docs */
#emailtemplate-docs > .content {
	position: relative
}
	#emailtemplate-docs #menu {
		position: fixed;
		top: 0;
		left: 0;
		width:210px;
	}
	#emailtemplate-docs > .content > .vtabs-content { }
	

.faq-question {
    border-bottom: 1px dashed #CCCCCC;
    display: inline-block;
    font-size: 110%;
    font-weight: bold;
    margin: 20px 0 5px;
    padding: 0 0 4px;
    width: auto;
}	
.faq-answer {
    margin-top: 0;
}	

pre.prettyprint {
	overflow: auto;
	background:	#F2F2F7;
	margin:0 0 20px;
	padding:5px 7px 5px 15px;
	border:1px solid #e2e2e7;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);	
}
pre.prettyprint, pre.prettyprint > code {
	font-family: 'Courier New',monospace;
	font-size:12px;
	line-height:1.4;
}
pre code { background :none }
p code { padding:0 4px }

/* prettify */
.pln {
	color: #000
}

@media screen {
	.str {
		color: #080
	}
	.kwd {
		color: #008
	}
	.com {
		color: #800
	}
	.typ {
		color: #606
	}
	.lit {
		color: #066
	}
	.pun,.opn,.clo {
		color: #660
	}
	.tag {
		color: #008
	}
	.atn {
		color: #606
	}
	.atv {
		color: #080
	}
	.dec,.var {
		color: #606
	}
	.fun {
		color: red
	}
}

@media print , projection {
	.str {
		color: #060
	}
	.kwd {
		color: #006;
		font-weight: bold
	}
	.com {
		color: #600;
		font-style: italic
	}
	.typ {
		color: #404;
		font-weight: bold
	}
	.lit {
		color: #044
	}
	.pun,.opn,.clo {
		color: #440
	}
	.tag {
		color: #006;
		font-weight: bold
	}
	.atn {
		color: #404
	}
	.atv {
		color: #060
	}
}

pre.prettyprint {
	padding: 2px;
	border: 1px solid #888
}

ol.linenums {
	margin-top: 0;
	margin-bottom: 0
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
	list-style-type: none
}

li.L1,li.L3,li.L5,li.L7,li.L9 {
	background: #eee
}