#icustomfooter_default_footer ul, .iCustomFooter ul, #icustomfooter_default_footer li, .iCustomFooter li, .iModuleAdminSuperMenu, .iModuleAdminSuperMenu li, .iModuleAdminSuperMenu ul, .iModuleAdminSuperWrappers , .iModuleAdminSuperWrappers li, iModuleAdminSuperWrappers ul {
	list-style:none;
	line-height: 17px;
	padding:0;
	margin:0;	
}

h1 .iModulesTitle {
	color:#333;
	font-family: Trebuchet MS;
	font-size: 14px;
	margin-top: 1px;
	display: block;
	float: left;
}

.iModuleAdminMenu {
	width: 200px;
	list-style:none;
	padding:0;
	margin:0;
	background:#EDEDED;
	min-height: 319px;
	float:left;
	font-family: Trebuchet MS;
	border-left: 1px solid #CCC;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #CCC;
}

.iModuleAdminMenu li {
	list-style:none;
	padding:0;
	margin:0;
	display:block;
	height: 38px;
	margin-bottom: 0px;
	line-height:38px;
	padding-left: 30px;
	font-size: 14px;
	cursor:pointer;
	color:#333;
	text-shadow: #fff 1px 1px 0px;
}

.iModuleAdminMenu li.selected {
	background:#CFDE55;
}

.iModuleAdminMenu li:hover {
	background:
}

.iModuleAdminWrappers {
	list-style:none;
	padding:0;
	margin:0;	
}

.iModuleAdminWrappers li {
	list-style:none;
	padding:0;
	margin:0;
	height: 100%;
	margin-bottom: 15px;
	padding: 10px;
	display: none;
}

.iModuleAdminWrappers hr {
	border: none;
	border-bottom: 1px dashed #ccc;
}

.iModuleAdminWrappers label {
	min-width: 200px;	
	margin-top:5px;
	display:block;
	float:left;
	padding-right: 15px;
}

.iModuleAdminWrappers .iModuleFields > span {
	float:left !important;	
}

.iModuleAdminWrappers select, .iModuleAdminWrappers input, .iModuleAdminWrappers textarea {
	min-width: 140px;	
}

.iModuleAdminWrappers textarea {
	min-height:140px;	
	min-width:400px;
}

.iModuleAdminWrappers li:first-child {
	display:block;	
}

.iModuleWrapperTitle {
	font-size: 16px;
	margin-bottom: 15px;	
}

.iModuleAdminSuperWrappers .content {
	padding: 10px;
	margin-left: 210px;
	min-height: 530px;
}

.iModuleAdminSuperWrappers > li {
	display:none;	
}

.iModuleAdminSuperWrappers > li:first-child {
	display: block;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.iModuleAdminSuperMenu {
	float: left;	
	margin-left: 19px;
}

.iModuleAdminSuperMenu li {
	float: left;	
	font-size: 14px;
	line-height:23px;
	cursor: pointer;
	color: #333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding: 0 15px;
	padding-bottom: 6px;
	padding-top: 6px;
	margin-top: -7px;
	margin-right: 5px;
	background: #DBDBDB;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.iModuleAdminSuperMenu li.selected {
	background:#fff;
	font-weight:bold;
	color:#333;
}

#GoogleMapsPreviewButton {
	width: 59px;
	min-width: 59px;
	font-size: 11px;
	height: 24px;
}

.iModuleFields .semiField {
	min-width: 65px;
	width: 65px;
}


/* Front-end */
.iWidgets .iWidget {
	margin-bottom:10px;
}

.iWidgets .iWidget h2 {
	margin: 0 0 12px 0;
	text-rendering: optimizelegibility;
	font-weight: bold;
	padding: 0 0 4px 0;
	font-size: 16px;
	line-height: 22px;
}

.iWidgets .iWidget label {
	padding-right: 10px;
	display: inline;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

.iWidgets .iWidget p {
	margin: 0 0 5px 0;	
	line-height: 17px;
	font-size: 12px;
}

.iWidgets .iContactUs .iContactsListing > li {
	padding-left: 38px;	
	margin-top: 6px;
	min-height: 28px;
	padding-bottom: 5px;
	padding-top: 3px;
}

.iWidgets .iContactForm input[type=text] {
	width: 120px;
}

.iWidgets .iContactForm .flashmessage {
	background-color: #4E9CC6;
	padding: 3px;
	margin-bottom: 10px;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;	
}

.iWidgets .iContactForm .redflashmessage {
	background-color:#F12B63;
	padding: 3px;
	margin-bottom: 10px;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	display:none;	
}

.iWidgets .iContactForm input[type=submit]:hover {
	color:#fefefe;
	border: 1px solid #ddd;
}

.iWidgets .iContactForm textarea {
	width: 192px;	
	height: 56px;
}

.iWidgets label[for=contactMessage] {
	margin-bottom: 3px;
	display: block;
}

.iWidgets .iContactForm textarea, .iWidgets .iContactForm input[type=text] {
	border-radius: 5px;
	font-weight: normal;
	font-family: inherit;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	max-width:192px;
	max-height:100px;
	min-height: 17px;
	background-color: #fff;
	padding: 3px;
	margin: 0;
	font-size: 12px;
	line-height: 17px;
	color: #000;
	display: inline;
}

.iWidgets .iWidget .iWidgetWrapper {
	padding: 15px 5px;	
}

.iCustomFooter {
	margin-bottom: -1px;
	-moz-box-shadow: 0 1px 5px #ccc;
	-webkit-box-shadow: 0 1px 5px #ccc;
	box-shadow: 0 1px 5px #ccc;
}

/* White Pattern */

.whitebgpattern {
	background:url(../image/icustomfooter/bgpatt.png);
}

.whitebgpattern .iTweets .iTweet .tweetText {
	color:#757575;	
}

.whitebgpattern .iTweets .iTweet .tweetDate {
	color:#c4c4c4;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
}

.whitebgpattern .iWidget h2 {
	color:#4e9cc6;
	border-bottom: 1px dotted #cccccc;
}

.whitebgpattern .iTweets .iTweet a {
	color: #757575;
}

.whitebgpattern .iTweets .iTweet a:hover {
	color: #222222;
}

.whitebgpattern .iWidgets .iWidget p, .whitebgpattern .iWidgets .iWidget {
	color:#747474;
	font-size: 12px;
}

.whitebgpattern .iWidgets .iWidget hr {
	border:none;
	border-bottom:1px dashed #eee;
	border-top: none;
	border-right: none;
	border-left: none;
	margin: 6px 0;
}

.whitebgpattern .iWidgets .iWidget .iAddress {
	background:url(../image/icustomfooter/white/address-icon.png) left 3px no-repeat;
}

.whitebgpattern .iWidgets .iWidget .iPhone {
	background:url(../image/icustomfooter/white/phone-icon.png) left 3px no-repeat;
}

.whitebgpattern .iWidgets .iWidget .iFax {
	background:url(../image/icustomfooter/white/fax-icon.png) left 3px no-repeat;
}

.whitebgpattern .iWidgets .iWidget .iEmail {
	background:url(../image/icustomfooter/white/email-icon.png) left 3px no-repeat;
}

.whitebgpattern .iWidgets .iWidget .iSkype {
	background:url(../image/icustomfooter/white/skype-icon.png) left 3px no-repeat;
}

.whitebgpattern .iTweets .iTweet .tweetText {
	background:url(../image/icustomfooter/white/tweet-icon.png) no-repeat 0 4px;
}

.whitebgpattern .iWidgets .iContactForm input[type="submit"] {
	padding: 2px 8px;
	color:#DDECF4;
	background-color:#4E9CC6;
	border: 1px solid #9DC8DF;
	outline:2px solid #4E9CC6;
	font-family: Trebuchet MS;
	font-size:12px;
	margin: 10px 0 0 3px;
	font-weight: normal;
	line-height: 17px;
	cursor: pointer;
}

/* Dark Pattern */

.darkbgpattern {
	background:url(../image/icustomfooter/bgpatt-dark.png);
}

.darkbgpattern .iTweets .iTweet .tweetText {
	color:#757575;	
}

.darkbgpattern .iTweets .iTweet .tweetDate {
	color:#c4c4c4;	
}

.darkbgpattern .iWidget h2 {
	color:#E3E6E8;
	border-bottom: 1px dotted #9198A2;
}

.darkbgpattern .iTweets .iTweet a {
	color: #dadada;
}

.darkbgpattern .iTweets .iTweet a:hover {
	color: #bbb;
}

.darkbgpattern .iWidgets .iWidget p, .darkbgpattern .iWidgets .iWidget {
	color:#dadada;
}

.darkbgpattern .iWidgets .iWidget hr {
	border:none;
	border-bottom:1px dashed #eee;
}

.darkbgpattern .iWidgets .iWidget .iAddress {
	background:url(../image/icustomfooter/dark/address-icon.png) left 3px no-repeat;
}

.darkbgpattern .iWidgets .iWidget .iPhone {
	background:url(../image/icustomfooter/dark/phone-icon.png) left 3px no-repeat;
}

.darkbgpattern .iWidgets .iWidget .iFax {
	background:url(../image/icustomfooter/dark/fax-icon.png) left 3px no-repeat;
}

.darkbgpattern .iWidgets .iWidget .iEmail {
	background:url(../image/icustomfooter/dark/email-icon.png) left 3px no-repeat;
}

.darkbgpattern .iWidgets .iWidget .iSkype {
	background:url(../image/icustomfooter/dark/skype-icon.png) left 3px no-repeat;
}

.darkbgpattern .iTweets .iTweet .tweetText {
	background:url(../image/icustomfooter/dark/tweet-icon.png) no-repeat 0 4px;
}

.darkbgpattern .iWidgets .iContactForm input[type="submit"] {
	padding: 2px 8px;
	color: #555;
	background-color: #CCC;
	border: 1px solid #999;
	outline: 2px solid #CCC;
	font-family: Trebuchet MS;
	font-size: 12px;
	margin-top: 5px;
}


/* Font Family */

.fontfamilyinherit {
	font-family: inherit;	
}

.fontfamilyarialhelvetica {
	font-family: Arial, Helvetica, sans-serif;	
}

.fontfamilygeorgiatimesnewroman {
	font-family:Georgia, "Times New Roman", Times, serif;	
}

.fontfamilytrebuchetms {
	font-family: Trebuchet MS;	
}

/* Overflow */

.overflowhidden .iWidgets .iWidget {
	overflow:hidden;	
}

.overflowauto .iWidgets .iWidget {
	overflow:auto;	
}

/* Buttons */
.iButtons {
	margin-left: 6px !important;
}
.iButtons .iButton {
	float: left;
	overflow: hidden;
	margin-left: 8px !important;
	height:22px;
}

.iButtons .iFacebook {
	width: 	90px;
	overflow:hidden;
}

.iTweets .iTweet {
	margin-bottom: 15px;	
}

.iTweets .iTweet > span {
	display: block;
	padding-left: 25px;	
}

.iTweets .iTweet .tweetText {
	background:url(../image/icustomfooter/tweet.png) no-repeat 0 4px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-style:italic;
}

.iTweets .iTweet .tweetDate {
	margin-top: 2px;	
}

/* White Icons */ 
.whiteicons .iWidgets .iWidget .iAddress {
	background:url(../image/icustomfooter/dark/address-icon.png) left 3px no-repeat;
}

.whiteicons .iWidgets .iWidget .iPhone {
	background:url(../image/icustomfooter/dark/phone-icon.png) left 3px no-repeat;
}

.whiteicons .iWidgets .iWidget .iFax {
	background:url(../image/icustomfooter/dark/fax-icon.png) left 3px no-repeat;
}

.whiteicons .iWidgets .iWidget .iEmail {
	background:url(../image/icustomfooter/dark/email-icon.png) left 3px no-repeat;
}

.whiteicons .iWidgets .iWidget .iSkype {
	background:url(../image/icustomfooter/dark/skype-icon.png) left 3px no-repeat;
}
/* Blue Icons */ 
.blueicons .iWidgets .iWidget .iAddress {
	background:url(../image/icustomfooter/white/address-icon.png) left 3px no-repeat;
}

.blueicons .iWidgets .iWidget .iPhone {
	background:url(../image/icustomfooter/white/phone-icon.png) left 3px no-repeat;
}

.blueicons .iWidgets .iWidget .iFax {
	background:url(../image/icustomfooter/white/fax-icon.png) left 3px no-repeat;
}

.blueicons .iWidgets .iWidget .iEmail {
	background:url(../image/icustomfooter/white/email-icon.png) left 3px no-repeat;
}

.blueicons .iWidgets .iWidget .iSkype {
	background:url(../image/icustomfooter/white/skype-icon.png) left 3px no-repeat;
}
/* Green Icons */ 
.greenicons .iWidgets .iWidget .iAddress {
	background:url(../image/icustomfooter/green/address-icon.png) left 3px no-repeat;
}

.greenicons .iWidgets .iWidget .iPhone {
	background:url(../image/icustomfooter/green/phone-icon.png) left 3px no-repeat;
}

.greenicons .iWidgets .iWidget .iFax {
	background:url(../image/icustomfooter/green/fax-icon.png) left 3px no-repeat;
}

.greenicons .iWidgets .iWidget .iEmail {
	background:url(../image/icustomfooter/green/email-icon.png) left 3px no-repeat;
}

.greenicons .iWidgets .iWidget .iSkype {
	background:url(../image/icustomfooter/green/skype-icon.png) left 3px no-repeat;
}

.container_12 .grid_footer_3, .grid_footer_3 {
	width: 220px;
}

.grid_footer_3 {
	display: inline;
	float: left;
	margin-left: 10px !important;
	margin-right: 10px !important;
}

/* Making the original footer more beautiful */
#icustomfooter_default_footer {
	width:100%;
	clear: both;
	-moz-box-shadow: 0 1px 5px #ccc;
	-webkit-box-shadow: 0 1px 5px#ccc;
	box-shadow: 0 1px 5px #ccc;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #fff;
	min-height: 0;
	margin-bottom:50px;
	padding:0px;
	overflow: visible;
	border-radius: 0px;
}
#icustomfooter_default_footer .footerDivider {
	height: 1px;
	background: whiteSmoke;
	margin: 0 13px;
}
#icustomfooter_default_footer .wrapper {
	font-size: 12px;
	color: #757575;
	line-height: 18px;
}
#icustomfooter_default_footer .wrapper table {
	width: 100%;
	border-collapse: collapse;
	margin:0;
	padding:0;
}
#icustomfooter_default_footer .payment-methods {
	padding: 10px 13px 8px 10px;
	margin: 0;
}

#icustomfooter_default_footer .payment-methods table {
	float: right;
	width: auto;
}

#icustomfooter_default_footer .payment-methods td {
	padding-left:2px;
}
#icustomfooter_default_footer h3 {
	margin-top:5px;
	padding: 10px 5px;
	font-size: 13px;
	margin-bottom: 2px;
	background-color:transparent;
}
#icustomfooter_default_footer .topBar {
	border-radius:3px 3px 0 0;
	height:30px;	
}
#icustomfooter_default_footer .column {
	margin-bottom:10px;
	float: left;
	min-height: 150px;
	width:220px;
}
#icustomfooter_default_footer .column h3  {
	color: #757575;	
}
#icustomfooter_default_footer .column:last-child h3 {
	margin-right: -1px;	
}
#icustomfooter_default_footer .column ul {
	list-style:none;
	margin:0;
	padding-left: 5px;
}
#icustomfooter_default_footer .column ul li {
	margin-bottom: 5px;
}
.column > ul > li > a:before {
	font-size:14px;
	color:#4e9cc6;
	content:'»  ';
}
#icustomfooter_default_footer .column a {
	text-decoration: none;
	color:#777;
}
#icustomfooter_default_footer .column a:hover {
	text-decoration: underline;
}
#icustomfooter_default_footer #powered {
	text-align: center;
	padding: 10px 0;
	margin: 0;
	clear: none;
	font-size: 11px;
}
#icustomfooter_default_footer #powered.rightAlign {
	text-align: right;
	padding: 10px 14px;
}
#icustomfooter_default_footer #powered.leftAlign {
	text-align: left;
	padding: 10px 14px;
}
#icustomfooter_default_footer #powered a {
	font-size: 11px;
}

.iModuleAdminSuperWrappers .iModuleSupportButton {
	background:#51AA68;
	padding: 10px 20px;
	color:white;
	border: 2px solid #fff;
	outline: 2px solid #4E9660;
	text-decoration:none;
	display:inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	
}

.iModuleAdminSuperWrappers .iModuleSupportButton:hover {
	background:#4E9660;
}

#iCustomFooterGoogleMap {
	height: 100%;
}