/* OpenCart Navigation Fixes */
#menu, #menu * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#menu > ul .top {
	line-height: 15px;
}

#menu > ul li li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
}

#menu > ul > li > ul {
	display: none !important;
	overflow: hidden !important;
	visibility: hidden !important;
}

#menu > ul > li.sfHover > ul {
	display: block !important;
	overflow: visible !important;
	visibility: visible !important;
}

/* OpenCart Navigation Fixes */

/* ADMIN PANEL STYLES - BEGIN */

.breadcrumb {
	margin-top: 10px;
	padding: 12px 15px;
}

body {
	font-family: "Helvetica Neue", Helvetica ,Arial, sans-serif;
	font-size: 13px;
	line-height: inherit;
}

.tab-navigation {
	position:relative;
}

.tab-buttons {
	position:absolute;
	right:0;
	top:0;
}

.center {
	text-align: center;
}

.registeredDomains {
	padding:0;
	margin:0;
	list-style:none;
}

.licenseAlerts {
	margin-top:10px;	
}

#moduleLicense {
	padding: 10px;
}

#moduleGA_id {
	padding: 10px;
}

/* ADMIN PANEL STYLES - END */

/* BOOTSTRAP OVERRIDE - BEGIN */
.form .col-xs-2 {
	padding-left: 0px;	
}
.form label {
	font-weight: 100;
}
.nav>li>a:visited {
	color: #428bca; 
	cursor: pointer; 
}
a.btn-default:visited {
	color: #333;
}
.panel-body label {
	font-size: 14px;
}
.panel-body .form-group {
	margin: 0;
}
.panel-body .notLicensedTable, .panel-body .licensedTable {
	table-layout: fixed;
}
.panel-body .notLicensedTable .form-group, .panel-body .licensedTable .form-group {
	margin-bottom: 15px;
}
.panel-body .notLicensedTable ul, .panel-body .licensedTable ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.panel-body .notLicensedTable tr > td {
	padding: 10px 0;
}
.panel-body .box-content {
	padding: 10px;
	border: 1px solid #DBDBDB;
	min-height: 300px;
	overflow: auto;
}
.panel-body .thumbnail {
	margin: 15px 0;
}
/* BOOTSTRAP OVERRIDE - END */

/* iAnalytics - BEGIN */
.bs-callout-warning {
	background-color: #fcf8f2;
	border-color: #f0ad4e;
}
.bs-callout {
	margin: 10px 0;
	padding: 20px;
	border-left: 3px solid #f0ad4e;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout-warning h4 {
	color: #f0ad4e;
}
.colorsLi .colorPreview {
	width: 18px;
	height: 18px;
	background:#ccc;
	border: 1px solid #aaa;
}
.colorsLi tr th {
	color:#333;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	text-align:left;
	padding-left:10px;
}
.colorsLi tr td {
	text-align:left;	
}
#searchedFound {
	height: 400px;	
	padding:0;
}
div.content div.analytics {
	width: 100%; clear: both; margin-bottom: 20px;
}
.iSimpleTable td {
	padding: 5px;
	width:100%;
	text-align:center;
}
.iSimpleTable td:first-child {
	text-align:left;
}
.iSimpleTable td:last-child {
	text-align:right;
}
.iSimpleTable tr:first-child td {
	border-bottom: 1px dotted #CCC;
}
table.iAnalyticsDateFilter {
	float: right;
	border-collapse:collapse;
	padding:0px;
	margin:0px;
}
table.iAnalyticsDateFilter td {
	padding: 0 0 0 20px;
}
table.iAnalyticsDateFilter td label {
	padding-right: 5px;
	display:inline;
	min-width: 10px;
}
table.iAnalyticsDateFilter td input {
	width: 50px;
	min-width: 80px;
}
.iAnalyticsSelectBox .optionDisabled {
	color: #999;	
}
.iAnalyticsLayout label {
	margin: 0;
	display: inline-block;
	padding: 2px 2px 2px 2px;
	font-size: 12px;
	margin-top: 0px;
	color: #222;
}

.iAnalyticsLayout input[type="checkbox"] {
	margin:0;	
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	color: black;
}
/* iAnalytics - END */