/* Bootstrap and OpenCart compatibility */

body {
	font-family: "Helvetica Neue", Helvetica ,Arial, sans-serif;
	font-size: 13px;
	line-height: inherit;
}

h1, h2, h3 {
	line-height: inherit;
}

li {
	line-height: inherit;
}

.breadcrumb {
	padding: 12px 15px;
}

.breadcrumb a {
	font-size: 14px;
	color: #0088cc;
}

.breadcrumb .btn {
	color: white;
	margin-left: 8px;
	margin-bottom: 0;
	margin-top: -6px;
	padding: 2px 12px;
	font-size: 13px;
}

.navbar {
	line-height: 20px;
}

.logo {
	background-image: url('../image/icustomfooter.png');
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	margin-bottom: -5px;
}

.navbar .brand {
	padding-bottom: 0;
	cursor: default;
	font-size: 18px;
}

span.tab-pane {
	float:left;
}

.column_tabs li:hover a {
	background-color: #f3f3f3;
	color: #0088cc;
}

.error {
	margin-top: 0;
}

.column_tabs li.active a, .column_tabs li.active:hover a {
	background-color: #0088cc;
	color: #ffffff;
}

.column_tabs li a i {
	float: right;
	opacity: 0.25;
}

.column_tabs li.active a i, .column_tabs li.active:hover a i {
	color: white;
	opacity: 1;
}

.columns_left_menu {
	float: left;
	width: 200px;
	min-height: 1px;
}

.columns_content {
	margin-left: 220px;
	min-height: 1px;
}

.column_content {
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.iModuleFields {
	padding: 0 20px 20px 20px;
}

.column_content h3 {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica ,Arial, sans-serif;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	padding: 0px 0 10px 20px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 20px;
}

.column_content label {
	width: 150px;
	float: left;
	display: block;
	padding-top: 5px;
	text-align: left;
	margin-right: 10px;
}

.column_content input {
	width: 300px;
}

.help {
	color: #aaa;
	font-size: 10px;
}

.column_content .textarea {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 160px;
	margin-bottom: 10px;
	min-width: 475px;
	max-width: 600px;
}

.column_content .textarea textarea {
	min-width: 475px;
	min-height: 150px;
	max-width: 600px;
}

.iModuleFields > div {
	clear: both;
	width: 100%;
}

.help {
	line-height: 16px;
}

.help a {
	color: #0088cc;
	text-decoration: underline;
}

.column_content input.semiField {
	width: 100px;
}

.GoogleMapsPreviewButton, .paymentIconsUploadButton {
	vertical-align: top;
}

.GoogleMapsPreviewDiv {
	margin-left: 160px;
	width: 250px;
	height: 250px;
}

.paymenticons_container {
	margin-left: 160px;
}

.paymentIconsBrowse {
	float: left;
	margin-bottom: 10px;
}

.PaymentIconsValues {
	float: left;
	display: block;
	padding-top: 8px;
	margin-left: 15px;
	color: #aaa;
	font-size: 12px;
	font-style: italic;
}

.paymenticon div {
	float: left;
	margin-bottom: 5px;
	margin-right: 8px;
}

.paymenticon div.paymenticon_name {
	width: 211px;
	padding-top: 12px;
}

.paymenticon div.paymenticon_image {
	padding-top: 8px;
}

.paymenticon div.paymenticon_image img {
	width: 38px;
}

.paymenticon div.paymenticon_remove {
	padding-top: 4px;
}

.paymenticon div.paymenticon_move {
	height: 19px;
	width: 14px;
	padding: 12px 12px 0 0;
	margin: 0;
}

.paymenticon div.paymenticon_move a {
	opacity: .5;
}

.paymenticon div.paymenticon_move a:hover {
	opacity: 1;
}

a.btn-danger {
	color: white;
}

/* Support page */

.iModuleSupportPage {
	padding: 0 20px 20px 20px;;
}

.iModuleWrapperTitle {
	font-size: 18px;
	color: black;
	border-style: none;
	margin: 15px 0 5px 0;
}

.iModuleWrapperText {
	
}

.registeredDomains {
	margin: 0 0 0px 0px;
}

.registeredDomains li{
	list-style: none;
}

.box-heading {

	padding: 0px 10px;

	-webkit-border-radius: 7px 7px 0px 0px;

	-moz-border-radius: 7px 7px 0px 0px;

	-khtml-border-radius: 7px 7px 0px 0px;

	border-radius: 7px 7px 0px 0px;

}

.box-heading h1 {

	margin: 0px;

	padding: 0px;

	color: #666666;

	font-size: 18px;

	line-height: 32px;

	padding-top: 3px;

}

.box-heading h1 i {

	font-size: 17px;

	font-weight: normal;

	margin-right: 5px;

}

.box-content {

	padding: 10px;

	min-height: 300px;

	overflow: auto;

}

/* Configuration */