#menu, #menu * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#menu > ul .top {
  line-height: 14px;
}

#menu > ul li li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

#menu > ul > li > ul {
  display: none !important;
  overflow: hidden !important;
  visibility: hidden !important;
}

#menu > ul > li.sfHover > ul {
  display: block !important;
  overflow: visible !important;
  visibility: visible !important;
}

.breadcrumb {
  margin-top: 10px;
  padding: 12px 15px;
}

body {
  font-family: "Helvetica Neue", Helvetica ,Arial, sans-serif;
  font-size: 13px;
  line-height: inherit;
}

.pagination {
  display: block;
  padding-left: 0;
  margin: 0;
  border-radius: 0px;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table tr:first-child td {
  border-top: none;
}

a.btn-primary {
  color: #FFFFFF !important;
}

.table-header {
  background: #EFEFEF;
}

.well .row .col-sm-4 .form-group input {
  padding: 10px;	
}

.image {
 border: none;	
}

.asc {
  padding-right: 15px;
  background: url('../image/asc.png') right center no-repeat;
}

.desc {
  padding-right: 15px;
  background: url('../image/desc.png') right center no-repeat;
}