/* ADMIN PANEL STYLES */

/* iModules */
.iModuleContent ul, li {
	list-style:none;
	padding:0;
	margin:0;	
}

.iModuleContent h1 .iModulesTitle {
	color:#333;
	font-family: Trebuchet MS;
	font-size: 15px;
	display: block;
	float: left;
	margin-right:20px;
}

.iModuleContent .box > .heading h1 {
	width: 680px;	
}

ul.iModuleAdminMenu {
	width: 186px;
	list-style:none;
	padding:0;
	margin:-10px 0 0 -30px;
	background:#EDEDED;
	min-height: 319px;
	float:left;
	font-family: Trebuchet MS;
	border-left: 1px solid #CCC;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #CCC;
}

.iModuleAdminMenu li {
	list-style:none;
	padding:0;
	margin:0;
	display:block;
	height: 38px;
	margin-bottom: 0px;
	line-height:38px;
	padding-left: 16px;
	font-size: 14px;
	cursor:pointer;
	color:#333;
	text-shadow: #fff 1px 1px 0px;
}

.iModuleAdminMenu li.selected {
	background:#CFDE55;
}

.iModuleAdminMenu li:hover {
	color:#000;
}


ul.iModuleAdminSuperMenu {
	float: left;	
	margin-left: 60px;
}

.iModuleAdminSuperMenu li {
	float: left;	
	font-size: 14px;
	line-height:23px;
	cursor: pointer;
	color: #333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding: 0 10px;
	padding-bottom: 6px;
	padding-top: 6px;
	margin-top: -7px;
	margin-right: 5px;
	background: #DBDBDB;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.iModuleAdminSuperMenu li.selected {
	background:#fff;
	font-weight:bold;
	color:#333;
}


.iModuleAdminWrappers {
	list-style:none;
	padding:0;
	margin:0;	
}

.iModuleAdminWrappers li {
	list-style:none;
	padding:0;
	margin:0;
	height: 100%;
	margin-bottom: 15px;
	padding: 10px;
	display: none;
}

.iModuleAdminWrappers hr {
	border: none;
	border-bottom: 1px dashed #ccc;
}

.iModuleAdminWrappers label {
	min-width: 200px;	
	margin-top:5px;
	display:block;
	float:left;
	padding-right: 15px;
}

.iModuleAdminWrappers .iModuleFields > span {
	float:left !important;	
}

.iModuleAdminWrappers select, .iModuleAdminWrappers input, .iModuleAdminWrappers textarea {
	min-width: 140px;	
}

.iModuleAdminWrappers textarea {
	min-height:140px;	
	min-width:400px;
}

.iModuleAdminWrappers li:first-child {
	display:block;	
}

.iModuleWrapperTitle {
	font-size: 16px;
	margin-bottom: 15px;	
}

.iModuleAdminSuperWrappers .content {
	padding: 10px;
	margin-left: 160px;
	min-height: 320px;
}

.iModuleAdminSuperWrappers > li {
	display:none;	
}

.iModuleAdminSuperWrappers > li:first-child {
	display: block;
}

.iModuleContent .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.iModuleContent .clearfix {
	display: inline-block;
}
 
html[xmlns] .iModuleContent .clearfix {
	display: block;
}
 
* html .iModuleContent .clearfix {
	height: 1%;
}

.iModuleAdminSuperWrappers .iModuleWrapperTitle h2 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom:none;
	text-transform:none;
	font-size: 24px;
}

.iModuleAdminSuperWrappers .iModuleWrapperTitle h3 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom:none;
	text-transform:none;
	font-size: 18px;
}

.iModuleAdminSuperWrappers .iModuleWrapperText {
	font-size: 12px;	
}

.iModuleAdminSuperWrappers .supportUL, .iModuleAdminSuperWrappers .iModuleUL {
	padding-left: 20px;	
}

.iModuleAdminSuperWrappers .iModuleSupportButton {
	background:#51AA68;
	padding: 10px 20px;
	color:white;
	border: 2px solid #fff;
	outline: 2px solid #4E9660;
	text-decoration:none;
	display:inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	
}

.iModuleAdminSuperWrappers .iModuleSupportButton:hover {
	background:#4E9660;
}

.iModuleContent .box .notActivatedContent {
	padding: 10px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	min-height: 300px;
	overflow: auto;	
	text-align:center;
	padding-top: 80px;
}

.iModuleContent .box .notActivatedContent h1 {
	font-size:28px;
	
}

.iModuleContent .iModuleActivateButton {
	background:#069;
	padding: 16px 28px;
	color:white;
	border: 4px solid #fff;
	outline: 4px solid #ccc;
	text-decoration:none;
	display:inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 34px;
	
}

.iModuleContent .iModuleActivateButton:hover {
	background:#06d;
}

.table-header {
	background:#EFEFEF;
}

/* iSenseLabs Module */
.colorsLi .colorPreview {
	width: 18px;
	height: 18px;
	background:#ccc;
	border: 1px solid #aaa;
}

.colorsLi tr th {
	color:#333;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	text-align:left;
	padding-left:10px;
}

.colorsLi tr td {
	text-align:left;	
}

#searchedFound {
	height: 400px;	
	padding:0;
}

.iSimpleTable {
	margin:0 20px 20px 20px;	
}

.iSimpleTable td {
	padding: 5px;
	width:100%;
	text-align:center;
}

.iSimpleTable td:first-child {
	text-align:left;
}

.iSimpleTable td:last-child {
	text-align:right;
}

.iSimpleTable tr:first-child td {
	border-bottom: 1px dotted #CCC;
}

div.content div.analytics {
	width: 100%; clear: both; margin-bottom: 20px;
}

/* Boostrap overrides */

/* Bootstrap and OpenCart compatibility */

body {
	font-family: "Helvetica Neue", Helvetica ,Arial, sans-serif;
	font-size: 13px;
	line-height: inherit;
}

h1, h2, h3 {
	line-height: inherit;
}

li {
	line-height: inherit;
}

.fadeInOnLoad {
	visibility:hidden;	
}

.breadcrumb {
	padding: 12px 15px;
}

.breadcrumb a {
	font-size: 14px;
	color: #0088cc;
}

.breadcrumb .btn {
	color: white;
	margin-left: 8px;
	margin-bottom: 0;
	margin-top: -6px;
	padding: 2px 12px;
	font-size: 13px;
}

.box-heading {
	padding: 0px 10px;
	border: 1px solid #DBDBDB;
	background: #EFEFEF;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box-heading h1 {
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-size: 15px;
	line-height: 32px;
	padding-top: 3px;
}
.box-heading h1 i {
	font-size: 17px;
	font-weight: normal;
	margin-right: 5px;
}
.box-content {
	padding: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: auto;
}
.premium-widget {
	overflow: hidden;
}
.breadcrumb li a:before {
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000;
	font-size: 16px;
	padding-right: 5px;
	text-decoration: none;
}
.breadcrumb li a:hover {
	text-decoration: none;
}
.breadcrumb li:first-child a:before {
	content: "\f015";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000;
	font-size: 16px;
	padding-right: 5px;
	text-decoration: none;
}
.buttons {
	text-align: right;
	border: 1px solid #DBDBDB;
	padding: 5px;
	margin-bottom: 15px;
}

.content .tab-content .box-heading {	
	padding: 4px 10px;
	background-color:#fff;
	border:none;
	border-bottom:1px solid #dbdbdb;

}

.content .tab-content .help {
	padding:10px;	
}

.content .tab-content .box-heading h1 {
	font-weight:normal;	
	font-size:18px;
	color:#454545;
}

.content .tab-content .box-content {
	border-color:#DBDBDB;
}

.icon-pagespeed {
	background:url(../image/ianalytics/google_pagespeed.png);
	width:77px;
	height:28px;
	float:right;
	display:block;
	margin-right:0px !important;
}

.tab-navigation {
	position:relative;
}

.tab-buttons {
	position:absolute;
	right:0;
	top:0;
}

.icon-refresh {
	cursor:pointer;	
}

.icon-refresh:hover {
	color:#9C0;	
}

.performersSuccess {
	margin: 2px 25px 20px 20px;
	font-size: 18px;
	padding: 12px 35px 12px 14px;
}

.text-greatscore {
	margin: 26px;
	line-height: 22px;
	color: #444;
	font-size: 12px;	
}

.bigGauge {
	width:400px; height:320px;
	display: block;
	margin-top: -20px;
}
      
.smallGauge {
	width:150px; height:120px;
	display: inline-block;
	margin: 1em;
	display:none;
}

.gaugeFilterUL {
	display:inline-block;
	margin-left: 25px;	
}

.pagespeedMainTable h3 {
	color:#757575;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:normal;
}

.stepsToTake td, .premiumServices td {
	vertical-align:middle;
}

.stepsToTake td:last-child {
	text-align:right;	
}

.stepsToTake tr.disabled {
	text-decoration:line-through;	
}

.premiumServices {
	width: 100%;	
}

.premiumServices .price {
	text-align:right;
	width: 52px;
}

.premiumServices .buynow {
	text-align:right;
	width: 90px;
}

select.compressionLevel {
	width: 50px;	
}

div.sliderCompression {
	width: 144px;
	display: inline-block;
	margin-left: 15px;	
}

div.sliderCompression .ui-widget-header {
	background:#75BAFF;
	border-color: #0070A6;
}

div.sliderCompression .ui-state-hover, div.sliderCompression .ui-state-focus {
	border-color: #0070A6;background:#CEE7FF;
}

.browserCache h4 {
	color: #757575;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.bcHeaders td {
	height: 20px;
	line-height:20ppx;
	padding: 3px;
	vertical-align:middle;
}

.bcHeaders td label {
	line-height:20ppx;
	font-size: 12px;
	margin:0;
	display:inline-block;
	margin-right: 5px;
}

.bcHeaders td a:hover {
	text-decoration:none;
}

.bcHeaders td input[type=checkbox] {
	margin:0;	
}

.cacheDirLink {
	color:#858585;	
	cursor:pointer;
}

.cacheDirLink:hover {
	text-decoration:none;
	color: #000;
}

.clearDbCache {
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

.ftp-log, .amazon-log, .smush-log {
	margin-top: 10px;
	width: 100%;
}

.ftp-log-entries, .amazon-log-entries {
	display: none;
}

.ftp-alert-error, .info-error {
	color: #900;
}

.ftp-alert-success, .info-success {
	color: #090;
}

.ftp-alert-warning, .info-warning {
	color: #C90;
}

.ftp-alert, .amazon-alert, .rackspace-alert {
	display: none;
}

.ftp-upload, .ftp-cancel, .amazon-upload, .amazon-cancel, .rackspace-upload, .rackspace-cancel {
	float: left;
	margin-right: 10px;
}

.ftp-progress, .amazon-progress, .rackspace-progress {
	height: 30px;
	margin-bottom: 0;	
}

.ftp-upload-label, .amazon-upload-label {
	margin-left: 10px;
}

.ftp-upload-label input, .amazon-upload-label input {
	margin-bottom: 5px;
}

.cdn-error, .compression-error {
	display: inline-block;
	margin-left: 10px;
	color: #900;
}

.licenseAlerts {
	margin-top:10px;	
}

.nav-tabs>li>a {
	color:#08c;	
}

.nav-tabs>li>a {
	color:#08c;	
}

a.btn:visited {
	color:#333;	
}

a.btn-danger:visited {
	text-decoration:none;	
}

a.btn-primary:visited, a.btn-danger:visited, a.btn-info:visited, a.btn-success, a.btn-success:visited {
	color:white;	
}

.supportThumbs .thumbnail {
	border:none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-right: 1px solid #ddd;
}

.supportThumbs .span4:last-child .thumbnail {
	border-right:none;	
}

.registeredDomains {
	padding:0;
	margin:0;
	list-style:none;
}

#infoGoogleRawText {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
}

.box-minibox {
	display:inline-block;
	margin-right: 10px;	
}

.RelatedProductsProLayout label {
	margin: 0;
	display: inline-block;
	padding: 2px 2px 2px 2px;
	font-size: 12px;
	margin-top: 0px;
	color: #222;
}

.RelatedProductsProLayout input[type="checkbox"] {
	margin:0;	
}

.currentStoreName {
  float: right;
  margin-top: 3px;
  font-size: 14px;
}