<form action="<?php echo $delete; ?>" method="post" enctype="multipart/form-data" id="form-product">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-productManager">
          <thead>
            <tr class="sorting table-header">
              <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
              <?php foreach ($tableData as $key => $tData) { ?>
              	<?php if ((empty($tData['sort']) || empty($tData['url'])) && $key!='image') { ?>
					<td class="text-center" data-toggle="true" data-key="<?php echo $key; ?>"><strong><?php echo $tData['name']; ?></strong></td>
                <?php } else if ($key == 'image') { ?>    
                  	<td class="text-center" data-toggle="true" data-key="<?php echo $key; ?>"><strong><?php echo $tData['name']; ?></strong>
                    	<div style="float:right;" data-toggle="tooltip" title="<? echo $bulk_edit."&nbsp;&nbsp;'".$tData['name']."'"; ?>" ><i data-toggle="modal" data-target="#bulk-image-upload" class="fa fa-pencil-square"></i></div>
                    </td>
                <?php } else { ?>
                    <td class="text-left" data-toggle="true" data-key="<?php echo $key; ?>"><?php if ($sort == $tData['sort']) { ?>
                        <a href="<?php echo $tData['url']; ?>" class="<?php echo strtolower($order); ?>"><strong><?php echo $tData['name']; ?></strong></a>
                        <?php } else { ?>
                        <a href="<?php echo $tData['url']; ?>"><strong><?php echo $tData['name']; ?></strong></a>
                        <?php } ?>
                        <?php if ($tData['bulk']) { ?>
                         <div style="float:right;" data-toggle="tooltip" title="<? echo $bulk_edit."&nbsp;&nbsp;'".$tData['name']."'"; ?>" ><i class="fa fa-pencil-square bulk-edit" data-key="<?php echo $key; ?>"></i></div>
                        <?php } ?>
                    </td>
                <?php } ?>
              <?php } ?>    
              <td class="text-right"><strong><?php echo $column_action; ?></strong></td>
            </tr>
          </thead>
          <tbody>
            <?php if ($products) { ?>
                <?php foreach ($products as $product) { ?>
                <tr class="edit-tr" data-id="<?php echo $product['product_id']; ?>">
                    <td class="text-center"><?php if (in_array($product['product_id'], $selected)) { ?>
                        <input type="checkbox" name="selected[]" value="<?php echo $product['product_id']; ?>" checked="checked" />
                    <?php } else { ?>
                        <input type="checkbox" name="selected[]" value="<?php echo $product['product_id']; ?>" />
                    <?php } ?>
                    </td>
                    <?php foreach ($tableData as $key => $value) { ?>
                        <?php if ($key == 'image') { ?>
                            <td class="text-center edit-td" data-key="<?php echo $key; ?>">
                                <?php if ($product['image']) { ?>
                               		<div class="image">
                                       <div style="float:right;padding-left:4px;">
                                        <a class="btn btn-xs btn-default" style="margin-bottom:10px;" onclick="image_upload('image<?php echo $product['product_id']; ?>', 'thumb<?php echo $product['product_id']; ?>', '<?php echo $product['product_id']; ?>');"><i class="fa fa-pencil"></i></a><br /><a class="btn btn-xs btn-default remove-image"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                        <input type="hidden" id="image<?php echo $product['product_id']; ?>" value="<?php echo $product['image_input']; ?>" />
                                        <a class="img-thumbnail">
                                        <img id="thumb<?php echo $product['product_id']; ?>" data-placeholder="<?php echo $placeholder; ?>" width="40" height="40" src="<?php echo $product['image']; ?>" alt="<?php echo $product['name']; ?>"/></a>
                                        
                                    </div>
                                <?php } else { ?>
                                    <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span>
                                <?php } ?>
                                
                            </td>
                        <?php } else if ($key == 'quantity') { ?>
                            <td class="text-right edit-td" data-key="<?php echo $key; ?>">
                                <?php if ($product['quantity'] <= 0) { ?>
                                    <span class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?> label label-warning"><?php echo $product['quantity']; ?></span>
                                <?php } elseif ($product['quantity'] <= 5) { ?>
                                    <span class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?> label label-danger"><?php echo $product['quantity']; ?></span>
                                <?php } else { ?>
                                    <span class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?> label label-success"><?php echo $product['quantity']; ?></span>
                                <?php } ?>
                            </td>
                        <?php } else if ($key == 'price') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>">
                                <?php if ($product['special']) { ?>
                                    <span class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>" style="text-decoration: line-through;"><?php echo $product['price']; ?></span><br/>
                                    <div class="text-danger"><?php echo $product['special']; ?></div>
                                <?php } else { ?>
                                    <span class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo $product['price']; ?></span>
                                <?php } ?>
                            </td>
                        <?php } else if ($key == 'status') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span data-status="<?php echo $product['status_code']; ?>" class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo $product[$key]; ?></span></td> 
						<?php } else if ($key == 'subtract') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span data-subtract="<?php echo $product['subtract_code']; ?>" class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo $product[$key]; ?></span></td> 
                        <?php } else if ($key == 'shipping') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span data-shipping="<?php echo $product['shipping_code']; ?>" class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo $product[$key]; ?></span></td>
						<?php } else if ($key == 'tax_class') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span data-tax_class="<?php echo $product['tax_class_code']; ?>" class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo (!empty($product[$key]) ? $product[$key] : '--- None ---'); ?></span></td> 
						<?php } else if ($key == 'stock_status') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span data-stock_status="<?php echo $product['stock_status_code']; ?>" class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo $product[$key]; ?></span></td> 
						<?php } else if ($key == 'weight_class') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span data-weight_class="<?php echo $product['weight_class_code']; ?>" class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo $product[$key]; ?></span></td>  
                        <?php } else if ($key == 'shipping') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span data-shipping="<?php echo $product['shipping_code']; ?>" class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo $product[$key]; ?></span></td>
                        <?php } else if ($key == 'manufacturer') { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span data-manufacturer="<?php echo $product['manufacturer_code']; ?>" class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo (!empty($product[$key]) ? $product[$key] : '--- None ---'); ?></span></td>  
                        <?php } else { ?>
                            <td class="text-left edit-td" data-key="<?php echo $key; ?>"><span class="editable <?php echo $product['product_id']; ?> <?php echo $key; ?>"><?php echo $product[$key]; ?></span></td> 
                        <?php } ?>
                    <?php } ?>  
                    <td class="text-right">
                        <a href="<?php echo $product['edit']; ?>" target="_black" data-toggle="tooltip" title="<?php echo $button_edit; ?>" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                <?php } ?>
            <?php } else { ?>
                <tr>
                  	<td class="text-center" colspan="35"><?php echo $text_no_results; ?></td>
                </tr>
            <?php } ?>
          </tbody>
        </table>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 text-left pagination"><?php echo $pagination; ?></div>
        </div>
    </div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	 $('#productsWrapper .pagination a').click(function(e){
			e.preventDefault();
			$.ajax({
				url: this.href,
				type: 'get',
				dataType: 'html',
				success: function(data) {				
					$("#productsWrapper").html(data);
					updateTable();
				}
			});
	 });		 

	$('#productsWrapper .sorting a').click(function(e){
		e.preventDefault();
		$.ajax({
			url: this.href,
			type: 'get',
			dataType: 'html',
			success: function(data) {				
				$("#productsWrapper").html(data);
				updateTable();
			}
		});
	});
	
	editable();
});
</script>